<div class="display-area"[ngClass]="{'display-area-shrink':sideNavStatus}">
  <h2 class="tittle pd-t20"><b>Bienvenido al Sistema de Inventario de Materiales</b></h2>
  <p class="parrafo ln-h text-justify">
    En nuestro sistema de inventario de materiales en la oficina,
    nos aseguramos de mantener un control riguroso y eficiente de todos los recursos.
    Nos encargamos del mantenimiento adecuado de los materiales,
    asegurándonos de que siempre estén en buen estado y listos para su uso.
    También llevamos un control exhaustivo de la salida de materiales,
    registrando cuándo y a quién se le entregan los recursos,
    lo que nos ayuda a evitar pérdidas y a mantener un seguimiento preciso de su uso.
    Además, gestionamos el control de entrada de materiales,
    registrando cuándo recibimos nuevos suministros y actualizando automáticamente el inventario,
    garantizando así que siempre haya suficientes materiales disponibles para las necesidades de la oficina.</p>
</div>
