<div class="container-fluid">
  <h4 class="my-3 text-center">SALIDA DE MATERIALES</h4>
  <div class="card">
<!--       <div class="card-header">
        <div class="row">
          <div class="col-3">
            <input type="text" name="term" class="form-control">
          </div>
          <div class="col d-flex">
            <button class="btn btn-primary ms-auto" (click)="create()">Crear Usuario</button>
          </div>
        </div>
      </div> -->
      <div class="card-body table-responsive p-0">
          <table class="table table-head-fixed text-center">
              <thead>
                <tr>
                  <th>DESCRIPCIÓN</th>
                  <th>CANTIDAD</th>
                  <th>PRECIO</th>
                  <th>USUARIO</th>
                  <th>MOTIVO</th>
                  <th>ESTADO</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let e of materialExits">
                  <td>{{ e.description }}</td>
                  <td>{{ e.quantity }}</td>
                  <td>{{ e.price }}</td>
                  <td>{{ e.user.name }}</td>
                  <td>{{ e.motive.name }}</td>
                  <td>{{ e.status ? 'Habilitado' : 'Deshabilitado'}}</td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

